*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

/* ============================== Navigation Section =================================== */

nav{
    width:99vw;
    height:8vh;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0px 5%
}

#logo{
    margin-top: 1px;
    width:10%;
    height:100%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-links{
    width:40%;
    height:100%;
    /* border:1px solid red; */

    display: flex;
    align-items: center;
    justify-content: space-around;
}


#nav-links a{
    color:black;
    text-decoration: none;
    /* border:1px solid red; */
    padding: 1% 2%;
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease;
}

#nav-links a:hover{
    border-bottom: 3px solid red;
}

#nav-links a.active{
    color:blue;
    border-bottom: 3px solid blue;

}


#nav-btn{
    color:white;
    text-decoration: none;
    /* border:1px solid red; */
    background-color: blue;
    padding:0% 1.6%;
    border-radius: 50px;

    width:9%;
    height: 80%;;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ============================= Ending of Navigation Section ========================================= */




/* ================================ Beggining of Footer Section ============================================ */

footer{
    width:99vw;
    height:100vh;
    /* border:1px solid red; */
}

.foot-logo, .foot-links{
    width: 100%;
    height: 50%;
    /* border:1px solid red */
}

.foot-logo img{
    /* border:1px solid red; */
    height: 99%;
    width: inherit;
}

.foot-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-sect{
    width:100%;
    height: 84%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.link-box{
    width:30%;
    height:70%;
    /* border:1px solid black */
}

.link-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.box-text{
    width:100%;
    height:70%;
    /* border:1px solid red; */
}

.left-box-text p{
    font-size: 20px;
    line-height: 140%;
    margin-top:40px;
}


.left-box-links{
    width:100%;
    height:20%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
}

.left-box-links a{
    
    text-decoration: none;
    color: black;
}

.social-links{
    margin:0px 1%;
    width:9%;
    height: 90%;
    border:1px solid black;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.link-mid, .link-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-top:25px; 
}

.link-mid h3{
    margin-right:3%;
    text-align: left;
}

.mid-links-list{
    width:15%;
    height: 70%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
}

.mid-links-list a{
    margin: 5% 0px;
    color: black;
    text-decoration: none;
}

.right-links-list{
    width:50%;
    height: 70%;
    /* border:1px solid red; */
    display: flex;
    flex-direction: column;
}

.link-right h3{
    margin-right:38%;
    text-align: left;
}

.right-links-list p{
    margin: 1.5% 0px;
    color: black;
    text-decoration: none;
}


.foot-est{
    width:97%;
    height: 16%;
    border-top:1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding:0px 2%; */
}


/* ==================================== Ending of Footer Section =========================================== */